<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>- 基础表格</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="/shortcut icon" href="favicon.ico" />
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css?v=4.1.0" rel="stylesheet" />
  </head>

  <body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox float-e-margins">
            <div class="ibox-content">
              <a href="/admin001/a_t/new" class="btn btn-primary">新增</a>
              <table class="table">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>名字</th>
                    <th>描述</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% arrAT.forEach((item, index) => { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.name %></td>
                    <td><%= item.descriptions %></td>
                    <td>
                      <a href="/admin001/a_t/edit?id=<%= item.id %>">修改</a>
                      <a href="#" onclick="delOne(<%= item.id %>)">删除</a>
                    </td>
                  </tr>
                  <%}) %>
                </tbody>
              </table>
              <div style="display:none;">
                <form id="delForm" method="POST"></form>
              </div>

              <script>
                function delOne(id) {
                  console.log();
                  var form = document.getElementById("delForm");
                  form.action = "/admin001/a_t/del/" + id;
                  form.submit();
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
